<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel='stylesheet' href='/vendor/twitter-bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/style.css' />

  </head>
  <body>
