<% include header.ejs %>

<% if (data.instructor) { %>
	<div class="hero-unit">
		<h1><a href="/instructors">Instruktorzy</a> > <%= data.instructor.name %>:</h1>
	</div>
	<%= data.instructor %>
<% } %>

<br>
<a href="/instructors">Powrót do listy instruktorów</a>

<% include footer.ejs %>
