<% include header.ejs %>

<h1><%= title %>:</h1>

<% if (data.instructor) { %>
	<%= data.instructor %>
<% } %>

<br>
<a href="/places">Powrót do listy placów</a>

<% include footer.ejs %>
