<% include header.ejs %>

<h1><%= title %>:</h1>

<% if (data.flash) { %>
	<div class="alert alety-<%= data.flash.type %>">
		<%= data.flash.message %>
	</div>
<% } %>

<% if (data.place) { %>
	<%= data.place %>
<% } %>

<br>
<a href="/places">Powrót do listy placów</a>

<% include footer.ejs %>
