@charset "utf-8";
/*
name: OSK-Helper
  author: Sebastian Troć
  Copyright Sebastian Troć, http://gucman.pl
*/


/*---------------------------------------
    COMMON
 --------------------------------------*/
body {
  font-size: 14px;
  line-height: 1.5em;
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 80px;
}

.hero-unit {
	padding: 20px;
}
.hero-unit h1 {
	font-size: 40px;
}
.center {
	text-align: center !important;
}
table.table td {
	vertical-align: middle;
}
table.table tr.disabled td,
table.table tr.disabled:hover td {
  background: #FFC7C7;
}

/*---------------------------------------
    PLACES FORMS
 --------------------------------------*/
#place_map {
  width: 100%;
  height: 400px;
  background: #ccc;
  border-radius: 4px;
}
.form-horizontal .control-label {
  width: 90px;
}
.form-horizontal .controls {
  margin-left: 110px;
}